/* Reset some default styles */
body, h1, h2, p {
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #354f52;
    color: #fff;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#title{
    text-align: center;
}
.hero p {
    font-size: 24px;
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px;
    background-color: #f2a154;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 0px;
    margin-left: 100px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #f07422;
}

a:hover{
    color: #f07422;
}
.features {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}

.feature {
    text-align: center;
}

.feature img {
    max-width: 100%;
}

.feature h2 {
    font-size: 24px;
    margin-top: 20px;
}
.solutions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 1rem;
    padding: 2rem;
    overflow: scroll;
    height: 500px;
}

.solution {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px; 
    height: 300px;
    margin-left: 90px;
}


.solution img {
    max-width: 100%;
    height: auto;
}
.details{
    height: 60px;
    background-color: #354f52;
    border-radius: 5px;
    text-align: center;
    color: white;
}
#details{
    text-align: center;
    margin-left: 30px;
}
.media-buttons .btnn{
    border: none; 
    border-radius: 25px;    
    cursor: pointer;     
    font-size: 32px;
    margin-left: 450px;
    padding: 5px; 
    width: 50px;
    background-color: white;
    
}
.btnn:hover {
    background-color: gray;
}

.cnt{
    height: 200px;
    width: 2000;
    background-color: #ddf4f7;
    padding-top: 100px;

}

footer {
    background-color: #354f52;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    margin-top: 10px;
}
