<html>
{% extends 'base.html' %}
{% block pagetitle %}
AI Engine
{% endblock pagetitle %}

{% block body %}
<div>
    <div class="container">
        <!-- For demo purpose -->
        <div class="row mb-5 text-center text-white">
            <div class="col-lg-10 mx-auto">
                <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>🌱 এআই
                        ইঞ্জিন</b>
                </h1>
                <p class="lead" style="font-weight: 500;color: black;">এইবার ডিজিটালি হবে রোগ নির্ণয়</p>
            </div>
        </div>
        <!-- End -->
        <div class="row ">
            <div class="col mx-auto">
                <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;">

                    <h5><b>উদ্ভিদে রোগ নির্ণয় করা প্রয়োজন কেন?</b></h5>
                    <p>বিশ্বব্যাপী ফসলহানি ও এসংক্রান্ত অর্থনৈতিক ক্ষতির অন্যতম একটি কারণ হল উদ্ভিদের জীবাণুঘটিত বিভিন্ন
                        রোগ। সঠিক সময়ে বা প্রাথমিক পর্যায়ে সুনির্দিষ্টভাবে রোগের জীবাণু সনাক্তকরণ সম্ভব হলে রোগ
                        ব্যবস্থাপনা কৌশল অধিকতর কার্যকরভাবে ব্যবহার করা যায়। উদাহরণস্বরূপ, বীজ বা চারায় রোগসংক্রমণ
                        পরীক্ষা করে কেবল নীরোগ বীজ ব্যবহার করা হলে ফসলের বৃদ্ধির পরবর্তি পর্যায়ে রোগের সম্ভাবনা অনেক কমে
                        যায়। বেশ কিছু গবেষণায় দেখা গেছে যে শুধু মানসম্পন্ন সার্টিফায়েড নীরোগ বীজই ফলন বৃদ্ধিতে ১০-১৫%
                        পর্যন্ত অবদান রাখতে পারে। এজন্য সঠিক ও সুক্ষ্ণ রোগ-নির্ণয় পদ্ধতির ব্যবস্থা আধুনিক কৃষির
                        অপরিহার্য হাতিয়ার।
                    </p>
                </div>
            </div>
            <div class="col mx-auto">
                <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;"><img
                        src="https://img.freepik.com/premium-vector/bug-control-icon-outline-vector-smart-data-digital-farm_96318-83085.jpg?w=996"
                        height="300" alt="" width="200" class="d-block mx-auto mb-4 rounded-pill">

                    <!-- Default bootstrap file upload-->

                    <form action="/submit" method="POST" enctype="multipart/form-data">
                        <div class="custom-file overflow-hidden mb-4">
                            <input type="file" id="actual-btn" hidden name="image" />
                            <label for="actual-btn">ছবি নির্বাচন করুন</label>
                            <span id="file-chosen"></span>
                        </div>

                        <!-- End -->

                        <h6 class="text-center mb-4 text-muted">
                            রোগাক্রান্ত ফসলের ছবি এইখানে সংযুক্ত করুন
                        </h6>

                        <!-- Custom bootstrap upload file-->
                        <center>
                            <a class="mx-2"><button type="submit" class="btn btn-outline-success">Submit</button></a>
                        </center>
                    </form>
                    <!-- End -->

                </div>
            </div>
            <div class="col mx-auto">
                <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;">
                    <h5><b>উদ্ভিদের রোগ প্রতিরোধে আমাদের করনীয়:</b></h5>
                    <ol>
                        <li>সুস্থ উদ্ভিদ নির্বাচন করুন।</li>
                        <li>জীবাণুমুক্ত বীজ ব্যবহার এবং চারা গাছ ব্যাবহার করুন। </li>
                        <li>গাছ লাগানোর আগে বীজতলা ভালো মত প্রস্তুত করুন। </li>
                        <li>জমি আগাছামুক্ত রাখুন। </li>
                        <li>সঠিক সময়ে উদ্ভিদের রোগ নির্ণয় করুন। </li>
                    </ol>
                    <a target="_blank" href="https://www.thespruce.com/prevent-plant-diseases-in-your-garden-2539511"
                        class="mx-2"><button type="button" class="btn btn-outline-success">আরও জানুন </button></a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const actualBtn = document.getElementById('actual-btn');

    const fileChosen = document.getElementById('file-chosen');

    actualBtn.addEventListener('change', function () {
        fileChosen.textContent = this.files[0].name
    })
</script>

{% endblock body %}